html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
[id] {
  scroll-margin-top: 100px; 
}
html, body, #__next {
  height: 100%;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}
.content-wrapper {
  flex: 1;
}